* {
  -webkit-font-smoothing: antialiased;
}
::selection {
  background: #fff7c7; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #fff7c7; /* Gecko Browsers */
}

/*
 * Globals
 */
body {
  /*padding: 3rem 0 0 0;*/
  color: #353535;
  line-height: 1.5;
  /*font-family: 'PT Serif', serif;*/
  font-family: 'Questrial', sans-serif;
  font-size: 20px;
}
.outer-container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding: 70px 20px;
}
.back {
  color: #9a9a9a;
  display: block;
  max-width: 1000px;
  margin: 0 auto 2em auto;
  
  font-size: 16px;
}
.back:before {
  content: "â†";
  display: inline-block;
  position: relative;
  margin-right: 8px;
}
.back a {
  color: #9a9a9a;
}
.back a:hover {
  text-decoration: underline;
}
a {
  color: #353535;
  background-repeat: repeat-x;
  background-size: 2px 2px;
  background-position: 0 23px;
}
.blog-main a:hover {
  /*color: transparent;*/
  text-decoration: none;
}
.blog-main h1,
.blog-main .h1,
.blog-main h2,
.blog-main .h2,
.blog-main h3,
.blog-main .h3,
.blog-main h4,
.blog-main .h4,
.blog-main h5,
.blog-main .h5,
.blog-main h6,
.blog-main .h6 {
  color: #353535;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  /*font-family: "Lato", sans-serif;*/
  font-family: 'Questrial', sans-serif;
}
h1 {
  /*margin-bottom: 1rem;*/
  font-size: 50px;
  font-weight: 900;
  line-height: 60px;
}
h2 {
  /*margin-bottom: 1rem;*/
  font-size: 28px;
  font-weight: 900;
  line-height: 40px;
}
h3 {
  /*margin-bottom: 1rem;*/
  font-size: 22px;
  font-weight: 900;
}
.blog-post-meta {
  font-size: 30px;
  margin-bottom: 0px;
  color: #9a9a9a;
  font-weight: bold;
}
p {
  margin-bottom: 2rem;
}
pre,
ul,
ol {
  margin-bottom: 20px;
  padding-left: 40px;
}
strong {
  font-weight: bold;
}
em {
  font-style: italic;
}
.navbar-brand img.logo__gc {
  width: 120px;
  height: auto;
}

.navbar-toggler{
  border: none;
}

.carousel-wrapper {
  padding: 0px 40px ;
}

.carousel-wrapper .section {
  padding: 1rem 0.5rem;
}

.blog-main .section {
  padding: 1rem 9.5rem;
  margin-bottom: 135px;
}

.container {
  max-width: 1000px;
  margin: auto;
}
.wio-link {
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 24px;
  background-color: #fafafa;
  box-shadow: 0 2px 7px 0 rgba(90, 90, 140, 0.4);
}

/* Media Queries */
@media (max-width: 767px) {
  .outer-container {
    padding: 70px 20px;
  }
  .container {
    padding: 0 20px;
  }
  .post-part {
    font-size: 18px;
  }
  .post-part pre {
    font-size: 14px;
  }
 
  h1 {
    font-size: 36px;
    line-height: 45px;
  }
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 18px;
  }
  .blog-main .section {
    padding: 1rem 1.5rem;
  }
}


/*header*/



#container {
  color:#333;
  text-transform: uppercase;
  font-size:36px;
  font-weight:bold;
  width:100%;
  bottom:45%;
  display:block;
}

#flip {
  height:50px;
  overflow:hidden;
}

#flip > div > div {
  color:#fff;
  padding:0px 12px;
  height:45px;
  margin-bottom:45px;
  display:inline-block;
}

#flip div:first-child {
  animation: show 5s linear infinite;
}

#flip div div {
  background:#42c58a;
}
#flip div:first-child div {
  background:#4ec7f3;
}
#flip div:last-child div {
  background:#333;
}





@keyframes show {
  0% {margin-top:-270px;}
  5% {margin-top:-180px;}
  33% {margin-top:-180px;}
  38% {margin-top:-90px;}
  66% {margin-top:-90px;}
  71% {margin-top:0px;}
  99.99% {margin-top:0px;}
  100% {margin-top:-270px;}
}

